*.suo
bin/
obj/
*.user
.vs
Library/
Logs/
Temp/
UserSettings/
Output/
/out
*StreamingAssets/
*StreamingAssets.meta
*Generated/
Build/
Builds/
Deploy/
Xcode/
*.DS_Store
*.csproj


# UI资源
*GUIPackCartoon/
*.zip
*.apk
*.ipa
*.exe
res_version.*